<!-- Modal -->
@model Assignment.DBEntity.ViewModels.TaskModel
<div class="modal fade" id="AddEditTask" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-white" style="background-color:#7CA28D">
                <h5 class="modal-title" id="exampleModalLongTitle">Task Form</h5>
                <i class="fa-solid fa-xmark" data-bs-dismiss="modal"></i>
            </div>
            <form asp-controller="Tasks" asp-action="EditTask" class="needs-validation" novalidate>
                <div class="modal-body">
                    <input type="hidden" name="requestid" id="RequestID_Input_ModelAssignCase" />
                    <div class="row">
                        <div class="col form-floating mb-3 ">
                            <input type="text" class="form-control shadow-none input" placeholder="Task Name" id="taskname" asp-for="@Model.TaskName" />
                            <label asp-for="@Model.TaskName">Task Name</label>
                            <span asp-validation-for="@Model.TaskName"></span>
                        </div>
                        <div class="col form-floating mb-3">
                            <input type="text" class="form-control shadow-none input" placeholder="Task Name" id="taskname" asp-for="@Model.Assignee" />
                            <label asp-for="@Model.Assignee">Task Name</label>
                            <span asp-validation-for="@Model.Assignee"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-floating mb-3 ">
                            <input type="text" class="form-control shadow-none input" placeholder="Task Name" id="taskname" asp-for="@Model.Description" />
                            <label asp-for="@Model.Description">Task Name</label>
                            <span asp-validation-for="@Model.Description"></span>
                        </div>
                        <div class="col form-floating mb-3">
                            <input type="date" class="form-control shadow-none input" placeholder="Task Name" id="taskname" asp-for="@Model.DueDate" />
                            <label asp-for="@Model.DueDate">Task Name</label>
                            <span asp-validation-for="@Model.DueDate"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-floating mb-3 ">
                            @*<select name="cname" class="form-select form-control shadow-none" id="categoryName" required data-allow-clear="true" tabindex="-1" asp-items="@(new SelectList(ViewBag.CategoryComboBox , "CategoryId", "CategoryName"))">
                            </select>
                            <label for="cname">Narrow search by Category</label>
                            <div class="invalid-feedback">
                                Please provide a valid category!
                            </div>*@
                            <input type="text" class="form-control shadow-none input" placeholder="Task Name" id="taskname" asp-for="@Model.City" />
                            <label asp-for="@Model.City">Task Name</label>
                            <span asp-validation-for="@Model.City"></span>
                            <input type="text" class="form-control shadow-none input" placeholder="Task Name" id="taskname" asp-for="@Model.City" />
                            <label asp-for="@Model.City">Task Name</label>
                            <span asp-validation-for="@Model.City"></span>
                        </div>
                        <div class="col form-floating mb-3">
                            <input type="text" class="form-control shadow-none" placeholder="Task Name" id="taskname" asp-for="@Model.CategoryId" />
                            <label asp-for="@Model.CategoryId">Task Name</label>
                            <span asp-validation-for="@Model.CategoryId"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a id="edit" onclick=" toggleFormElements('true')" style=" height:2.5rem;width:4rem" class="btn btn-info text-white rounded ">Edit</a>
                    <input type="submit" value="Save" id="save" style=" height:2.5rem;width:4rem" class="btn btn-info text-white rounded">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info text-white shadow-none" style="background-color:#7CA28D">Save</button>
                    <button type="button" class="btn border border-info text-info shadow-none" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    window.onload = function (e) {
        toggleFormElements('true')
    }
    function toggleFormElements(bDisabled) {
        var inputs = document.getElementsByClassName("input");
        var submit = document.getElementById("save");
        var editprofile = document.getElementById("edit");
        for (var i = 0; i < inputs.length; i++) {
            inputs[i].disabled = !inputs[i].disabled;
        }
        if (inputs[0].disabled) {
            submit.style.display = "none";
            editprofile.style.display = "block";
        } else {
            submit.style.display = "block";
            editprofile.style.display = "none";
        }
    }

</script>


