@{
    Layout = "~/Views/Shared/Admin/_LayoutAdmin.cshtml";
}

@model List<HalloDocMVC.DBEntity.ViewModels.AdminPanel.PayrateModel>
@using HalloDocMVC.DBEntity.ViewModels.AdminPanel
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4>Payrate</h4>
        </div>
        <div class="col-md-6 justify-content-end">
            <a class="btn relogin mx-3 shadow-none" asp-controller="Providers" asp-action="PhysicianProfile" asp-route-id="PhysicianId">Back</a>
        </div>
    </div>
    <div class="table-responsive mt-5">
        <table class="w-100">
            <thead class="border-bottom border-dark mb-3">
                <tr>
                    <th class="col">Category</th>
                    <th class="col">Payrate</th>
                    <th class="col">Action</th>
                </tr>
            </thead>
            <form method="post" asp-controller="Invoicing" asp-action="EditPayrate">
            <tbody class="bg-white m-1">
                @foreach (var pay in Model)
                {
                    <tr class="border-bottom border-dark">
                        <td>
                            @pay.PayrateCategoryName
                        </td>
                        <td>
                            <div class="form-floating col-6 m-1">
                                <input type="text" asp-for="@pay.Payrate" class="form-control shadow-none input@(pay.PayrateCategoryId)" id="payrate_@(pay.PayrateCategoryId.ToString().ToLower().Replace(" ", "_"))" placeholder="Payrate" />
                                <label for="payrate_@(pay.PayrateCategoryId.ToString().ToLower().Replace(" ", "_"))">Payrate</label>
                            </div>
                        </td>
                        <td>
                            <input type="button" value="Edit" id="edit@(pay.PayrateCategoryId)" class="btn btn-info text-white" onclick="toggleFormElements(@(pay.PayrateCategoryId))" />
                            <input type="submit" value="Save" id="save@(pay.PayrateCategoryId)" class="btn btn-info text-white" asp-controller="Invoicing" asp-action="EditPayrate" asp-route-categoryId="@(pay.PayrateCategoryId)" asp-route-id="@(pay.PhysicianId)"/>
                        </td>
                    </tr>
                }
            </tbody>
            </form>
        </table>
    </div>
</div>

<script>
    window.onload = function () {
        // Call toggleFormElements function for each pay rate category
    @foreach (var pay in Model)
    {
        <text>toggleFormElements(@(pay.PayrateCategoryId)); </text>
    }
        };

    function toggleFormElements(categoryId) {
        var inputs = document.getElementsByClassName("input" + categoryId);
        var saveButton = document.getElementById("save" + categoryId);
        var editButton = document.getElementById("edit" + categoryId);

        for (var i = 0; i < inputs.length; i++) {
            inputs[i].disabled = !inputs[i].disabled;
        }

        if (inputs[0].disabled) {
            saveButton.style.display = "none";
            editButton.style.display = "block";
        } else {
            saveButton.style.display = "block";
            editButton.style.display = "none";
        }
    }
</script>