@{
    Layout = "~/Views/Shared/Admin/_LayoutAdmin.cshtml";
}

@model List<HalloDocMVC.DBEntity.ViewModels.AdminPanel.PayrateModel>
@using static HalloDocMVC.DBEntity.ViewModels.AdminPanel.PayrateModel
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4>Payrate</h4>
        </div>
        <div class="col-md-6 justify-content-end">
            <a class="btn relogin mx-3 shadow-none" asp-controller="Providers" asp-action="PhysicianProfile" asp-route-id="PhysicianId">Back</a>
        </div>
    </div>
    <div class="table-responsive mt-5">
        <table class="w-100">
            <thead class="border-bottom border-dark mb-3">
                <tr>
                    <th class="col">Category</th>
                    <th class="col">Payrate</th>
                    <th class="col">Action</th>
                </tr>
            </thead>

            <tbody class="bg-white m-1">
                @foreach (var pay in Model)
                {
                    <form asp-controller="Invoicing" asp-action="EditPayrateMethod">

                        <input type="hidden" asp-for="@pay.PayrateCategoryId" />
                        <tr class="border-bottom border-dark mt-2">
                            <td>
                                    @pay.PayrateCategoryName
                            </td>
                            <td>
                                <input hidden name="CategoryId" value="@pay.PayrateCategoryId">
                                <input hidden name="PhysicianId" value="@pay.PhysicianId">
                                <input hidden name="ProviderPayrateId" value="@pay.PayrateId">
                                <div class="form-floating col-md-6 mb-3">
                                <input type="text" class="form-control shadow-none input@(pay.PayrateCategoryId) m-2" id="floatingInput" name="Payrate" value="@pay.Payrate" placeholder="Payrate">
                                    <label for="floatingInput">Payrate</label>
                                </div>
                            </td>
                            <td>
                                <input type="button" value="Edit" id="edit@(pay.PayrateCategoryId)" class="btn btn-info text-white mt-2" onclick="toggleFormElements(@(pay.PayrateCategoryId))" />
                                <button type="submit" id="save@(pay.PayrateCategoryId)" class="btn btn-info text-white" >Save</button>
                            </td>
                        </tr>
                    </form>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    window.onload = function () {
        // Call toggleFormElements function for each pay rate category
    @foreach (var pay in Model)
    {
        <text>toggleFormElements(@(pay.PayrateCategoryId)); </text>
    }
        };

    function toggleFormElements(categoryId) {
        var inputs = document.getElementsByClassName("input" + categoryId);
        var saveButton = document.getElementById("save" + categoryId);
        var editButton = document.getElementById("edit" + categoryId);

        for (var i = 0; i < inputs.length; i++) {
            inputs[i].disabled = !inputs[i].disabled;
        }

        if (inputs[0].disabled) {
            saveButton.style.display = "none";
            editButton.style.display = "block";
        } else {
            saveButton.style.display = "block";
            editButton.style.display = "none";
        }
    }
</script>