@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using HalloDocMVC.DBEntity.ViewModels;
@model HalloDocMVC.DBEntity.ViewModels.AdminPanel.SchedulingModel
@using HalloDocMVC.Services.Interface;
@inject ILoginService _ILoginService;
@{
    Layout = "~/Views/Shared/Admin/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Scheduling";
}

<partial name="../Scheduling/Modals/_AddShift.cshtml" />
<partial name="../Scheduling/Modals/_ViewShift.cshtml" />

<div class="container-fluid dashboard px-5">
    @* heading *@
    <div class="d-flex justify-content-between">
        @if (CV.role() == "Admin")
        {
            <div class="d-flex align-self-center">
                <h4><strong>Scheduling</strong></h4>
            </div>
        }
        @if (CV.role() == "Provider")
        {
            <div class="d-flex align-self-center">
                <h4><strong>My Schedule</strong></h4>
            </div>
        }
        <a class="btn relogin mx-3 shadow-none justify-content-end" asp-controller="Dashboard" asp-action="Index">Back</a>
    </div>

    <div class="mt-3">
        @if (CV.role() == "Admin")
        {
            <div class="mt-3 d-flex justify-content-between">
                <div class="search m-1 col-2">
                    <div id="regionicon">
                        <i class="fa fa-search"></i>
                    </div>
                    <select class="form-select ps-3" data-allow-clear="true" tabindex="-1" id="schedulingregion" asp-items="@(new SelectList(ViewBag.RegionComboBox, "RegionId", "RegionName"))" data-control="select2" data-placeholder="Select Level" style="padding-left:5px">
                        <option value="0">All Region</option>
                    </select>
                </div>

                <div class="btns">
                    <button type="button" class="btn provideracc text-white shadow-none ms-2" data-bs-toggle="modal" data-bs-target="#AddShiftModal">Add New Shifts</button>
                    <a asp-controller="Scheduling" asp-action="RequestedShift" class="btn provideracc text-white shadow-none ms-2">Shifts For Review</a>
                    <a asp-controller="Scheduling" asp-action="ProvidersOnCall" class="btn provideracc text-white shadow-none ms-2">Providers On Call</a>
                </div>
            </div>
        }
        <div class="d-none" id="currentDateValue">
            <strong>@DateTime.Now.Date.ToString("MMM d, yyyy")</strong>
        </div>
        @if (CV.role() == "Admin")
        {
            <div class="h6 mt-3" id="showDate">
                <strong>
                    @DateTime.Now.DayOfWeek,
                    @DateTime.Now.Date.ToString("MMM d, yyyy")
                </strong>
            </div>
        }
        @if (CV.role() == "Provider")
        {
            var currentDate = DateTime.Now;
            var currentMonth = currentDate.Month;
            var currentYear = currentDate.Year;
            var firstDay = new DateTime(currentYear, currentMonth, 1);
            var lastDay = new DateTime(currentYear, currentMonth, DateTime.DaysInMonth(currentYear, currentMonth));
            var firstDayFormatted = firstDay.ToString("MMM d, yyyy");
            var lastDayFormatted = lastDay.ToString("MMM d, yyyy");

            <strong>Schedule For : @firstDayFormatted - @lastDayFormatted</strong>
        }
        <div class="d-flex justify-content-end">
            <div class="shifts d-flex">
                <div class="d-flex">
                    <span class="dot text-center text-white me-1" style="height: 30px;width: 54px;border-radius:13%;background-color:lightpink"></span>
                    <span class="d-flex align-self-center">Pending Shifts</span>
                </div>
                <div class="d-flex ms-2">
                    <span class="dot text-center text-white me-1" style="height: 30px;width: 54px;border-radius:13%;background-color:#73cd9b"></span>
                    <span class="d-flex align-self-center">Approved Shifts</span>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between mt-3">
            <div class="calbtn">
                <span class="dot bg-info text-center text-white me-1 rounded-circle" id="prevDateBtn"><i class="fa-solid fa-chevron-left p-2"></i></span>
                <span>
                    <i class="fa-solid fa-calendar-days"></i>
                </span>
                <span class="dot bg-info text-center text-white ms-1 rounded-circle" id="nextDateBtn"><i class="fa-solid fa-chevron-right p-2"></i></span>
            </div>
            <div>
                @if (CV.role() == "Admin")
                {
                    <button type="button" onclick="loadSchedulingPartial('_MonthWise')" class="btn relogin ms-2 removeactive shadow-none" id="Months">Month</button>
                    <button type="button" onclick="loadSchedulingPartial('_WeekWise')" class="btn relogin ms-2 removeactive shadow-none" id="Weeks">Week</button>
                    <button type="button" onclick="loadSchedulingPartial('_DayWise')" class="btn relogin removeactive shadow-none" id="Days">Day</button>
                }
                @if (CV.role() == "Provider")
                {
                    <button type="button" class="btn provideracc text-white shadow-none ms-2" data-bs-toggle="modal" data-bs-target="#AddShiftModal">Add New Shifts</button>
                }
            </div>
        </div>
        <div class="calander mt-4">
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
@section Scripts{
    <script>
        // Load View accoeding to day,month, week
        if ("@CV.role()" == "Admin") {
            var regionid;
            var filterDate = new Date($('#currentDateValue').text());
            loadSchedulingPartial('_DayWise');
            var currentPartial = localStorage.getItem("currentPartial");
            function loadSchedulingPartial(PartialName) {
                currentPartial = PartialName;
                $.ajax({
                    url: '@Url.Action("LoadSchedulingPartial", "Scheduling")',
                    data: { PartialName: PartialName, date: filterDate.toISOString(), regionid: regionid },
                    success: function (data) {
                        $(".calander").html(data);
                        localStorage.setItem("currentPartial", PartialName);
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            }
        }
        else {
            var filterDate = new Date($('#currentDateValue').text());
            loadSchedulingPartial('_MonthWise');
            var currentPartial = localStorage.getItem("currentPartial");
            function loadSchedulingPartial(PartialName) {
                currentPartial = PartialName;
                $.ajax({
                    url: '@Url.Action("LoadSchedulingPartialProvider", "Scheduling")',
                    data: { date: filterDate.toISOString() },
                    success: function (data) {
                        $(".calander").html(data);
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            }
        }


        function myFunction() {
            var region = $("#addshiftregion").val();
            console.log(region);
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetPhysicianByRegion","Scheduling")?regionid=' + region,
                cache: false,
                success: function (response) {

                    console.log(response);
                    var s;
                    for (var i = 0; i < response.length; i++) {
                        s += '<option value="' + response[i].physicianid + '">' + response[i].firstname + '</option>';
                    }
                    $("#Physician").html(s);
                },
                error: function () {
                    alert("Error while fetching Physicians.");
                }
            });
        }
        // Change Physician according to Region
        $(document).ready(function () {
            localStorage.getItem("currentPartial");
            myFunction();
            $('#schedulingregion').on('change', function () {
                regionid = $(this).val();
                console.log(regionid);
                $.ajax({
                    url: '/Scheduling/LoadSchedulingPartial',
                    data: { PartialName: currentPartial, date: filterDate.toISOString(), regionid: regionid },
                    success: function (data) {
                        $(".calander").html(data);
                        localStorage.setItem("currentPartial", currentPartial);
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            });

            // Change Date From Calender
            //loadSchedulingPartial('_DayWise');
            localStorage.getItem("currentPartial");
            $('#prevDateBtn').on('click', function () {
                if (currentPartial == "_MonthWise") {
                    var date = filterDate.setMonth(filterDate.getMonth() - 1);
                    localStorage.setItem("currentPartial", currentPartial);
                    loadSchedulingPartial(currentPartial);
                }
                else if (currentPartial == "_DayWise") {
                    var date = filterDate.setDate(filterDate.getDate() - 1);
                    localStorage.setItem("currentPartial", currentPartial);
                    loadSchedulingPartial(currentPartial);
                }
                else {
                    var date = filterDate.setDate(filterDate.getDate() - 7);
                    localStorage.setItem("currentPartial", currentPartial);
                    loadSchedulingPartial(currentPartial);
                }
            });

            $('#nextDateBtn').on('click', function () {
                if (currentPartial == "_MonthWise") {
                    var date = filterDate.setMonth(filterDate.getMonth() + 1);
                    localStorage.setItem("currentPartial", currentPartial);
                    loadSchedulingPartial(currentPartial);
                }
                else if (currentPartial == "_DayWise") {
                    var date = filterDate.setDate(filterDate.getDate() + 1);
                    localStorage.setItem("currentPartial", currentPartial);
                    loadSchedulingPartial(currentPartial);
                }
                else {
                    var date = filterDate.setDate(filterDate.getDate() + 7);
                    localStorage.setItem("currentPartial", currentPartial);
                    loadSchedulingPartial(currentPartial);
                }
            });

            $('.repeatchk').on('change', function () {
                if ($(this).prop('checked')) {
                    $('.disable').each(function () {
                        $(this).prop('disabled', false);
                    });
                }
                else {
                    $('.disable').each(function () {
                        $(this).prop('disabled', true);
                    });
                }

            });
        });
    </script>
}