﻿@{
    Layout = "~/Views/Shared/Patient/_LayoutPatientDashboard.cshtml";
}
@model HalloDocMVC.DBEntity.ViewModels.PatientPanel.PatientDashboardModel
@using static HalloDocMVC.DBEntity.ViewModels.AdminPanel.Constant
<partial name="~/Views/PatientPanel/Modals/_SubmitRequestModal.cshtml">
    <div class="container">
        <div class="justify-content-between d-flex mt-5 position-relative ">
            <div class="">
                <h3 class="fw-bolder">
                    Medical History
                </h3>
            </div>
        </div>
        <div class="card border-0 shadow py-4 mb-5 mx-3 mt-3 rounded">
            <div class="text-end mx-2 px-3">
                <!-- Button trigger modal -->
                <button class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#createNewRequest">
                    Create New
                    Request
                </button>
            </div>
            <div class="table-responsive">
                <table class="table table-responsive mt-3 p-3">
                    <thead>
                        <tr>
                            <th scope="col">Created Date <i class="bi bi-arrow-down"></i></th>
                            <th scope="col">Current Status</th>
                            <th scope="col">Document</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider mx-5">
                        @foreach (var item in Model.PatientData)
                        {
                            <tr>
                                <td scope="row"> @item.CreatedDate</td>
                                <td>
                                    <a asp-action="ViewDocuments" asp-controller="PatientDashboard" asp-route-id="@item.RequestId">
                                        @Enum.GetName(typeof(Status), item.Status)
                                    </a>
                                </td>
                                <td>
                                    @{
                                        if (item.DocumentCount > 0)
                                        {
                                            <a asp-action="ViewDocuments" asp-controller="PatientDashboard" asp-route-id="@item.RequestId" class="btn border border-info btn-sm text-info document-button shadow-none">
                                                (@item.DocumentCount) Documents
                                            </a>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div><!--Mobile screen view-->
    <div class="accordion mt-3 d-block d-sm-none mx-2" id="accordionExample">
        <div class="dBlock">
            @foreach (var item in Model.PatientData)
            {
                <div class="accordion-item btn-i">
                    <div class="accordion-header" id="flush-heading-@item.RequestId">
                        <div class="p-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-@item.RequestId" aria-expanded="false" aria-controls="collapse_@item.RequestId">
                            <div class="row w-100">
                                <div class="col">
                                    <i class="fa-solid fa-clock pe-2 text-info"></i>
                                    <strong>Created Date : </strong>
                                    @item.CreatedDate.ToString("MMM d, yyyy")
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="flush-@item.RequestId" class="accordion-collapse collapse mb-3 border-top" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="mb-3">
                                <i class="fa-solid fa-user text-info"></i>
                                <strong class="px-1">Provider : -</strong>
                                @*@item.Status*@
                            </div>
                            <div class="mb-3">
                                <i class="fa-solid fa-check text-info"></i>
                                <strong class="px-1">Current Status : </strong>
                                <a class="btn shadow-none" asp-action="ViewDocuments" asp-controller="PatientDashboard" asp-route-id="@item.RequestId">
                                    @Enum.GetName(typeof(Status), item.Status)
                                </a>
                            </div>
                            <div>
                                @{
                                    if (item.DocumentCount > 0)
                                    {
                                        <a asp-action="ViewDocuments" asp-controller="PatientDashboard" asp-route-id="@item.RequestId" class="btn btn-outline-info btn-sm document-button shadow-none col-12">
                                            (@item.DocumentCount) Documents
                                        </a>
                                    }
                                }
                            </div>
                        </div>
                    </div>

                </div>
            }
        </div>
    </div>
    <!--End Mobile screen view-->
