@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/Admin/_LayoutAdmin.cshtml";
}
@model HalloDocMVC.DBEntity.ViewModels.AdminPanel.RecordsModel
@using static HalloDocMVC.DBEntity.ViewModels.AdminPanel.Constant
@{
    var enumData = from Status e in Enum.GetValues(typeof(Status))
                   select new
                   {
                       ID = (int)e,
                       Name = e.ToString()
                   };

    var requestStatus = from RequestType e in Enum.GetValues(typeof(RequestType))
                   select new
                   {
                       ID = (int)e,
                       Name = e.ToString()
                   };
}
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-6">
            <h4><strong>Search Records</strong></h4>
        </div>
    </div>
    <div class="row ">
        <div class="card shadow">
            <div class="card-body border-0">
                <form id="FilterForm">
                    <div class="row d-flex">
                        <div class="search col-md-3 col-sm-6 col-xs-12 mb-3">
                            <select asp-for="Status" asp-items="@(new SelectList(enumData, "ID", "Name"))" id="statusdropdown" class="form-select shadow-none text-secondary" data-allow-clear="true" tabindex="-1">
                                <option value="-1">Select Request Status</option>
                            </select>
                        </div>
                        <div class="form-floating col-md-3 col-sm-6 col-xs-12 mb-3">
                            <input asp-for="FirstName" type="text" class="form-control shadow-none" id="Pname" placeholder="Patient Name">
                            <label class="ms-2" for="Pname"> Patient Name</label>
                        </div>
                        <div class="search col-md-3 col-sm-6 col-xs-12 mb-3">
                            <select asp-for="RequestType" asp-items="@(new SelectList(requestStatus, "ID", "Name"))" id="requesttypedropdown" class="form-select shadow-none text-secondary" data-allow-clear="true" tabindex="-1">
                                <option value="-1">Select Request Type</option>
                            </select>
                        </div>
                        <div class="form-floating col-md-3 col-sm-6 col-xs-12 mb-3">
                            <input asp-for="StartDate" type="date" class="form-control shadow-none input" id="dob" placeholder="Date of Birth">
                            <label class="ms-2" for="dob">From Date Of Service</label>
                        </div>
                    </div>
                    <div class="row d-flex">
                        <div class="form-floating col-md-3 col-sm-6 col-xs-12 mb-3">
                            <input asp-for="EndDate" type="date" class="form-control shadow-none input" id="dob" placeholder="Date of Birth">
                            <label class="ms-2" for="dob">To Date Of Service</label>
                        </div>
                        <div class="form-floating col-md-3 col-sm-6 col-xs-12 mb-3">
                            <input asp-for="PhysicianName" type="text" class="form-control shadow-none" id="Pname" placeholder="Patient Name">
                            <label class="ms-2" for="Pname"> Provider Name</label>
                        </div>
                        <div class="form-floating col-md-3 col-sm-6 col-xs-12 mb-3">
                            <input asp-for="Email" type="email" class="form-control shadow-none" id="email" placeholder="Patient Name">
                            <label class="ms-2" for="email"> Email</label>
                        </div>
                        <div class="form-floating col-md-3 col-sm-6 col-xs-12 mb-3">
                            <input asp-for="PhoneNumber" type="tel" class="form-control shadow-none" id="Pname" placeholder="Patient Name">
                            <label class="ms-2" for="Pname"> Phone Number</label>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-4 col-sm-6 col-xs-12 d-flex mt-1 justify-content-end">
                        <a class="relogin"><button class="btn btn-info text-white rounded-1" type="button" id="Submit">Search</button></a>
                        <a class="relogin"><button class="btn btn-outline-info bg-white rounded-1 ms-2" id="Clear">Clear</button></a>
                    </div>
                </form>
                <div class="table-responsive">
                    <table class="table table-responsive mt-3 mb-0">
                        <thead>
                            <tr>
                                <th scope="col">Patient</br> Name</th>
                                <th scope="col">Requestor</th>
                                <th scope="col">Date Of</br> Service</th>
                                <th scope="col">Close Case </br>Date</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone</br> Number</th>
                                <th scope="col">Address</th>
                                <th scope="col">Zip</th>
                                <th scope="col">Request</br> Status</th>
                                <th scope="col">Physician</th>
                                <th scope="col">Physician</br> Note</th>
                                <th scope="col">Cancelled </br>By Provider </br>Note</th>
                                <th scope="col">Admin</br> Note</th>
                                <th scope="col">Patient</br> Note</th>
                                <th scope="col">Delete Permanently</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider" id="SearchRecords">
                            @foreach (var item in Model.SearchRecords)
                            {
                                <tr>
                                    <td scope="row">
                                        @item.FirstName @item.Lastname
                                    </td>
                                    <td>@Enum.GetName(typeof(RequestType), item.Requestor)</td>
                                    <td>@item.StartDate.ToString("MMM d yyyy")</td>
                                    @if (item.EndDate == null)
                                    {
                                        <td>-</td>
                                    }
                                    else
                                    {
                                        <td>@item.EndDate</td>
                                    }
                                    <td>@item.Email</td>
                                    <td>@item.PhoneNumber</td>
                                    <td scope="row">@item.Address</td>
                                    <td>@item.ZipCode</td>
                                    <td>@Enum.GetName(typeof(AdminDashboardStatus), item.Status)</td>
                                    <td>@item.PhysicianName</td>
                                    <td>@item.PhysicianNote</td>
                                    <td>@item.CancelledByProviderNotes</td>
                                    <td>@item.AdminNotes</td>
                                    <td>@item.PatientNotes</td>
                                    <td>
                                        <form class="DeleteForm" asp-controller="Records" asp-action="DeleteRequest">
                                            <input type="hidden" name="RequestId" value="@item.RequestId" />
                                            <button class="contactprovider shadow-none document-button mx-1 mb-2 Delete">
                                                Delete
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <nav aria-label="Page navigation example" id="paginationSearch">
                    <div class="d-flex justify-content-between mx-2 mt-3">
                        <div>
                            @if (Model.TotalPages == 0)
                            {
                                Model.CurrentPage = 0;
                            }
                            Page @Model.CurrentPage / @Model.TotalPages
                        </div>
                        <div>
                            <ul class="pagination pagination-container">
                                @{
                                    int i;
                                    <form id="paginationform" asp-controller="Records" asp-action="Index" novalidate="novalidate" class="d-flex">
                                        <input type="hidden" asp-for="PageSize" />
                                        <input type="hidden" asp-for="CurrentPage" id="currentpagevalue" />

                                        @if (@Model.CurrentPage > 1)
                                        {
                                        <li class="page-item me-2">
                                            <button class="btn shadow-none" onclick="setpagenumber('previous')">&lt;</button>
                                        </li>
                                        }
                                        else
                                        {
                                        <li class="me-2 page-item">
                                            <button class="disabled btn">&lt;</button>
                                        </li>
                                        }
                                        @for (i = 1; i <= @Model.TotalPages; i++)
                                        {
                                        <li class="page-item me-2">
                                            <button class="@(i == @Model.CurrentPage ? "activePage" : "") btn shadow-none" onclick="setpagenumber(@i)">@i</button>
                                        </li>
                                        }
                                        @if (@Model.TotalPages > @Model.CurrentPage)
                                        {
                                        <li class="page-item me-2">
                                            <button class="btn shadow-none" onclick="setpagenumber('next')">&gt;</button>
                                        </li>
                                        }
                                        else
                                        {
                                        <li class="page-item">
                                            <button class="btn disabled">&gt;</button>
                                        </li>
                                        }
                                    </form>
                                }
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<script>

    modeldata = @Html.Raw(Json.Serialize(Model))

            const clear = document.getElementById("Clear");
    const submit = document.getElementById("Submit");

    clear.addEventListener("click", function () {
        const inputs = document.querySelectorAll("#FilterForm input[type='text'], #FilterForm input[type='email'], #FilterForm input[type='tel'], #FilterForm input[type='date']",);
        inputs.forEach(input => {
            input.value = "";
        });
        $('#Submit').click();
    });

    $(document).ready(function () {
        $("#Submit").click(function () {
            var formData = $("#FilterForm").serialize();

            $.ajax({
                type: "POST",
                url: '@Url.Action("Index", "Records")',
                data: formData,
                cache: false,
                success: function (response) {
                    console.log(response);
                    var bodyContent = $(response).find('tbody').html();
                    var pagination = $(response).find('nav').html();
                    $('#SearchRecords').html(bodyContent);
                    $('#paginationSearch').html(pagination);
                }
            });
        });
    });
    var deleteButton = document.querySelectorAll('.Delete');

    deleteButton.forEach(function (button) {
        button.addEventListener('click', function (event) {
            event.preventDefault();

            var form = button.closest('.DeleteForm');
            var requestIdInput = form.querySelector('input[name="RequestId"]');
            var requestId = requestIdInput.value;

            Swal.fire({
                title: "Do you want to delete this request ?",
                showDenyButton: false,
                showCancelButton: true,
                confirmButtonText: "Yes",
                denyButtonText: "No"
            }).then(function (result) {
                if (result.isConfirmed) {
                    form.submit();
                }
            });
        });
    });
    function setpagenumber(e) {
        if (e == 'previous') {
            var cp = @Model.CurrentPage-1;
            $('#currentpagevalue').val(cp);
        }
        else if (e == 'next') {
            var cp = @Model.CurrentPage + 1;
            $('#currentpagevalue').val(cp);
        }
        else {
            $('#currentpagevalue').val(e);
        }
        $("#paginationform").submit();

        console.log("Hello pagination");
    }
</script>