@model HalloDocMVC.DBEntity.ViewModels.AdminPanel.ViewCaseModel
@using static HalloDocMVC.DBEntity.ViewModels.AdminPanel.Constant
@{
    Layout = "~/Views/Shared/Admin/_LayoutAdmin.cshtml";
}
<partial name="../Actions/Modals/_AssignCase.cshtml" />
<div class="container">
    <div class="" style="border: none;">
        <div class="row d-flex p-3" style="border: none;">
            <div class="col-6  d-flex">
                <div class="d-inline-flex">
                    <div>
                        <h4 class="form-title fw-bold mt-2 mx-2">New Request</h4>
                    </div>
                    <div class="d-flex align-self-center">
                        <span class="rounded-3 @Enum.GetName(typeof(RequestType), Model.RequestTypeId) mx-3 p-1 text-white">
                            @Enum.GetName(typeof(RequestType), Model.RequestTypeId)
                        </span>
                    </div>
                </div>
               @* <span class="rounded-3 bg-success text-white mx-3 p-1 mb-"><small>Patients</small></span>*@
            </div>
            <div class="col-6 d-flex">
                <a class="relogin ms-auto" asp-controller="Dashboard" asp-action="Index"><button class="relogin shadow-none bg-white">Back</button></a>
            </div>
        </div>

        <div class="card bg-white rounded shadow p-3">
            <form method="post" asp-controller="Actions" asp-action="EditCase" enctype="multipart/form-data">
                <input type="hidden" asp-for="RequestId" value="@Model.RequestId" />
                <div class="mt-4">
                    <h4>Patient Information</h4>
                    <div class="mt-2"> Confirmation Number</div>
                    <div>
                        <span class="text-info"> @*@CV.UserName()*@012021113220321320</span>
                    </div><br />
                        <div class=" row">
                            <div class="col form-floating  space">
                                <textarea asp-for="Notes" class="form-control shadow-none input" id="notes" placeholder="details" style="height: 100px"></textarea>
                                <label class="ms-2" for="notes"> Patient Notes</label>
                            <span asp-validation-for="Notes" class="text-danger"></span>
                            </div>
                        </div><br />
                        <div class="row">
                            <div class="col form-floating  space">
                                <input asp-for="FirstName" type="text" class="form-control shadow-none input" id="fname" placeholder="details">
                                <label class="ms-2" for="fname"> First Name</label>
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="col form-floating  space">
                                <input asp-for="LastName" type="text" class="form-control shadow-none input" id="lname" placeholder="details">
                                <label class="ms-2" for="lname">Last Name</label>
                            <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div><br />
                        <div class="row">
                            <div class="col-6 form-floating  space">
                                <input asp-for="DateOfBirth" type="date" class="form-control shadow-none input" id="dob" placeholder="Date of Birth">
                                <label class="ms-2" for="dob">Date Of Birth</label>
                                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                            </div>
                            <div class="col-6 ">
                                <div class="d-flex form-floating  space" style="height:100%;">
                                    <input asp-for="PhoneNumber" class="form-control shadow-none input" type="tel" id="phone" placeholder="(201) 555-0123" />
                                    <label class="ms-2" for="tel">Phone Number</label>
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                    <button class="btn border border-info text-info mx-2 ">
                                        <i class="bi bi-telephone-fill"></i>
                                    </button>
                                </div>
                            </div>
                        </div><br />
                        <div class="row">
                            <div class="col-6 form-floating  space">
                                <input asp-for="Email" type="email" class="form-control shadow-none input" id="email" placeholder="details">
                                <label class="ms-2" for="emailid"> Email</label>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-1 mt-1">
                            <a id="edit" onclick=" toggleFormElements('true')" style=" height:2.5rem;width:4rem" class="btn btn-info text-white rounded ">Edit</a>
                            <input type="submit" value="Save" id="save" style=" height:2.5rem;width:4rem" class="btn btn-info text-white rounded">
                        </div><br />
                        <div class="row">
                            <h4>Location Information</h4>
                            <div class="form-group-horizontal ">
                                <div class="row">
                                    <div class="col-6 form-floating  space">
                                        <input asp-for="Region" type="text" class="form-control shadow-none border-none input" id="Region" placeholder="details">
                                        <label class="ms-2" for="Region"> Region</label>
                                    <span asp-validation-for="Region" class="text-danger"></span>
                                    </div>
                                    <div class="col-6">
                                        <div class="d-flex form-floating space">
                                            <input asp-for="Address" type="text" class="form-control shadow-none input" id="Business" placeholder="details">
                                            <label class="ms-2" for="Business">Business Name/ Address</label>
                                        <span asp-validation-for="Address" class="text-danger"></span>
                                            <button class="btn border border-info text-info mx-2">
                                                <i class="fa fa-map-marker"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div><br />
                                <div class="row">
                                    <div class="col-6 form-floating  space">
                                        <input asp-for="Room" type="text" class="form-control shadow-none input" id="Room" placeholder="details">
                                        <label class="ms-2" for="Room"> Room # I Suite (Optional)</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </form>
            <div class="row space">
                <div class="d-flex justify-content-end ">
                    <button class="bg-info border border-outline-info text-white rounded-2 submission text-white" onclick="model_case(@Model.RequestId)" data-bs-target="#AssignCase" data-bs-toggle="modal" data-bs-requesrid="@Model.RequestId">Assign Case</button></>
                    <a asp-controller="actions" asp-action="ViewNotes" asp-route-id="@Model.RequestId" class="btn bg-info border border-outline-info text-white rounded-2 text-white ms-2">View Notes</a>
                    <a asp-controller="dashboard" asp-action="Index" class="btn bg-danger rounded-2 border border-outline-danger text-white ms-2">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
    <script>
        window.onload = function (e) {
            toggleFormElements('true')
        }
        function toggleFormElements(bDisabled) {
            var inputs = document.getElementsByClassName("input");
            var submit = document.getElementById("save");
            var editprofile = document.getElementById("edit");
            for (var i = 0; i < inputs.length; i++) {
                inputs[i].disabled = !inputs[i].disabled;
            }
            if (inputs[0].disabled) {
                submit.style.display = "none";
                editprofile.style.display = "block";
            } else {
                submit.style.display = "block";
                editprofile.style.display = "none";
            }
        }

        function model_Case(id) {
            console.log(id);
            var modeldata = @Html.Raw(Json.Serialize(Model))
                document.getElementById('PatientName_ModelCancelCase').innerText = modeldata[id].patientName;
            document.getElementById('RequestID_Input_ModelCancelCase').value = modeldata[id].requestID;
            console.log(document.getElementById('RequestID_Input_ModelAssignCase').value);
            document.getElementById('RequestID_Input_ModelAssignCase').value = id;
            console.log(document.getElementById('RequestID_Input_ModelAssignCase').value);
            document.getElementById('RequestID_Input_ModelBlockCase').value = modeldata[id].requestID;
            document.getElementById('PatientName_ModelBlockCase').innerText = modeldata[id].patientName;
        }

    </script>
